/*Variables and Themes*/
:root {
    --primary-color: #cf0f0f;
    --primary-color-contrast: #ffffff;
    --field-background-color: #000;
}

.light_theme {
    --page-background: linear-gradient(180deg,
            #ffffff 0%,
            #ffffff 65%,
            rgba(255, 255, 255, 0.75) 100%);
    --header-background-color: #e3e3e3;
    --highlight-color: #000000;
    --featured-font-family: "Archivo", sans-serif;
    --character-top-image-src: url("img/characters/kids-on-the-bike.svg");
    --character-top-image-color: #ffffff;
    --character-bottom-image-src: url("img/characters/inverted-world-monster.svg");
    --character-bottom-image-color: #e5e5e5;
    --background-lamp-image: url("img/backgrounds/lamps.png");
    --footer-background-color: #b5bbbf;
}

.dark_theme {
    --page-background: linear-gradient(180deg,
            #050000 0%,
            #130404 65%,
            rgba(19, 1, 1, 0.75) 100%);
    --header-background-color: #220f0f;
    --highlight-color: #ffffff;
    --featured-font-family: "Rubik Glitch", sans-serif;
    --character-bottom-image-src: url("img/characters/kids-on-the-bike.svg");
    --character-bottom-image-color: rgba(255, 255, 255, 0.1);
    --character-top-image-src: url("img/characters/inverted-world-monster.svg");
    --character-top-image-color: #000;
    --background-lamp-image: url("img/backgrounds/lamps-inverted.png");
    --footer-background-color: #000;
}
.dark_theme button, .dark_theme h1, .dark_theme h2, .dark_theme h3{
    letter-spacing: 5px;
    font-weight: normal;
}
.dark_theme .invert_element{
    transform: rotateZ(180deg) scaleX(-1);
}

/*Generic Styles*/
* {
    margin: 0;
    box-sizing: border-box;
    transition: 1s;
}

h1, h2, h3 {
    font-family: var(--featured-font-family);
    font-size: 3rem;
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 40px;
}

p {
    color: var(--highlight-color);
}

p, input, textarea, label {
    font-family: "Libre Baskerville", serif;
}

button {
    padding: 16px 32px;
    background-color: transparent;
    font-weight: 900;
    font-family: var(--featured-font-family);
    font-size: 1.25rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.7s;
}
input, textarea{
    border: 2px solid var(--primary-color-contrast);
    background-color: var(--field-background-color);
    color: var(--primary-color-contrast);
    padding: 8px;
    margin-bottom: 24px;
    font-size: 1rem;
}
label{
    margin-bottom: 8px;
}
input:focus-visible, textarea:focus-visible{
    outline: none;
    border-color: black;
}

/*Header Styles*/
header {
    background-color: var(--header-background-color);
    min-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(img/banner/florest.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 90%;
    filter: saturate(0);
    opacity: 0.2;
}

.header_content {
    max-width: 700px;
    padding: 80px 20px;
    text-align: center;
    z-index: 2;
}

.header_content img {
    width: 80%;
}

.header_content p {
    margin: 30px 0 50px;
}

.header_content button {
    border: 3px solid var(--primary-color);
    color: var(--primary-color);
}

.header_content button:hover {
    background-color: var(--primary-color);
    color: var(--primary-color-contrast);
}

/*World Characters Style*/
.world_characters {
    width: 100%;
    max-width: 900px;
    position: absolute;
}

.world_characters#top_characters {
    height: 100%;
    background-color: var(--character-top-image-color);
    bottom: -3px;
    mask: var(--character-top-image-src) bottom / 100% no-repeat;
    -webkit-mask: var(--character-top-image-src) bottom / 100% no-repeat;
}

.world_characters#bottom_characters {
    height: 500px;
    background-color: var(--character-bottom-image-color);
    top: 3px;
    transform: rotateZ(180deg) scaleX(-1);
    position: relative;

    mask: var(--character-bottom-image-src) bottom / contain no-repeat;
    -webkit-mask: var(--character-bottom-image-src)bottom / 100% no-repeat;
}

/*Main Styles*/
main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--page-background) no-repeat, url("img/backgrounds/florest.png") no-repeat;
    background-size: cover;
    z-index: -1;
}
/*Section Styles*/
section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 95px;
}

/*Section 1 Inverted World*/
.container {
    max-width: 1200px;
}

#section_inverted_world {
    align-items: center;
}

#section_inverted_world .section_texts {
    width: 50%;
}

#section_inverted_world .section_texts h2 {
    max-width: 300px;
}

/*Section 2 Inverted World*/
#section_stranger_things_trailer .section_texts {
    width: 50%;
    text-align: right;
}

#section_stranger_things_trailer .section_texts h2 {
    max-width: 425px;
    display: inline-block;
}

#section_stranger_things_trailer .video_frame {
    background-color: var(--primary-color);
}

#section_stranger_things_trailer .video_frame iframe {
    position: relative;
    bottom: 24px;
    left: 24px;
    border: 2px solid;
    border-image: linear-gradient(var(--primary-color), var(--primary-color-contrast));
    border-image-slice: 10;
}

#section_stranger_things_gallery {
    width: 100%;
    justify-content: center;
    background: var(--background-lamp-image) 120% / 50% no-repeat;
}

#section_stranger_things_gallery .container {
    width: 100%;
}

#section_stranger_things_gallery .container h2 {
    width: 800px;
}

#section_stranger_things_gallery .gallery_container {
    display: flex;
    gap: 50px;
    padding-left: 20px;
}

#section_stranger_things_gallery .gallery_image {
    width: 250px;
    height: 250px;
    outline: 20px solid var(--highlight-color);
    border: 3px solid var(--primary-color);
    box-sizing: initial;
}

#section_stranger_things_gallery .gallery_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 10px solid var(--highlight-color);
}

/*Section 4 Dungeons & Dragons Form*/
#section_form {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
}

#section_form h2 {
    width: 600px;
}

#section_form .form_content h3 {
    color: var(--highlight-color);
    flex-basis: 30%;
    text-align: left;
    margin: 0;
}

#section_form .form_content h3 span {
    color: var(--primary-color);
}

#section_form .form_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#section_form .form_container {
    flex-basis: 50%;
    position: relative;
}
#section_form .form_container::after {
    content: "";
    background-color: var(--highlight-color);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: -1;
}
#section_form .form_container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    background-color: var(--primary-color);
    color: var(--primary-color-contrast);
    text-align: left;
}
#section_form .form_container form button {
    border: none;
    background-color: var(--field-background-color);
    color: var(--primary-color-contrast);
    max-width: 300px;
    align-self: center;
}
#section_form .form_container form button:hover {
    background-color: var(--primary-color-contrast);
    color: var(--field-background-color);
   
}
/*Footer Style*/
footer{
    padding: 60px 0;
    background-color: var(--footer-background-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}
footer p{
    max-width: 700px;
    margin-bottom: 24px;
}
footer::before, footer::after{
    content: "";
    width: 300px;
    height: 200px;
    background: url("img/footer/tape.svg") no-repeat;
    background-size: contain;
    position: absolute;
    bottom: -30px;
}
footer::before{
    left: -50px;
    transform: rotateZ(-10deg);
}
footer::after{
    right: -50px;
    transform: rotateZ(10deg);
}